# cp pulseaudio.service   /etc/systemd/system/pulseaudio.service  &&systemctl daemon-reload&&systemctl enable pulseaudio.service&&systemctl restart pulseaudio.service

[Unit]
Description=PulseAudio Daemon
After=network.target

[Install]
WantedBy=default.target
DISPLAY=:0

[Service]
ExecStart=/usr/bin/pulseaudio --daemonize=no --realtime
